.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.card {
  overflow: hidden;
  border-radius: 12px;
  & > div {
    height: 100%;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card-pair {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

p-card {
  flex: 1;
  height: 180px;
  padding: 10px;
}

.large-label {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.small-label {
  font-size: 1rem;
  color: #888;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .card-pair {
    flex-direction: column;
  }
}
