<div class="cards-container">
  <div class="row">
    <p-card>
      <ng-template pTemplate="header">
        <label class="large-label"
          >{{ details?.subscriptionFees || "N\A" }} %</label
        >
        <label class="small-label">Frais souscription</label>
      </ng-template>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <label class="large-label">{{ stat?.sharePrice || "N\A" }} €</label>
        <label class="small-label">Prix d'achat</label>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <label class="large-label"
          >{{ details?.enjoymentDelay || "N\A" }} mois</label
        >
        <label class="small-label">Délai de jouissance</label>
      </ng-template>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <label class="large-label"
          >{{ details?.managementCosts || "N\A" }} %</label
        >
        <label class="small-label">Frais de gestion</label>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <label class="large-label">{{ prix_retrait || "N/A" }} €</label>
        <label class="small-label">Prix de retrait</label>
      </ng-template>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <label class="large-label">{{
          details?.frequencyPayment || "N\A"
        }}</label>
        <label class="small-label">Fréquence des loyers</label>
      </ng-template>
    </p-card>
  </div>
</div>
