<div class="history-container">
  <h2>Historique SCPI</h2>

  <div class="chart-container">
    <h3>Évolution du taux de distribution</h3>
    <ngx-charts-line-chart
      *ngIf="hasDistributionData(); else noDataMsg"
      [results]="distributionData"
      [scheme]="'cool'"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Année"
      yAxisLabel="Taux de distribution">
    </ngx-charts-line-chart>

    <ng-template #noDataMsg>
      <p>Pas assez de données pour afficher l’historique.</p>
    </ng-template>
  </div>

  <div class="chart-container">
    <h3>Évolution du prix de la part</h3>
    <ngx-charts-line-chart
      *ngIf="hasPriceData(); else noDataMsg"
      [results]="priceData"
      [scheme]="'vivid'"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Année"
      yAxisLabel="Prix (€)">
    </ngx-charts-line-chart>
  </div>
</div>
