<div class="tab-container">
  <div>
    <div>
      <p-tabView class="tabview-container" (onChange)="onTabChange($event)">
        <p-tabPanel
          *ngFor="let tab of tabStates"
          [header]="tab.label"
        ></p-tabPanel>
        <ng-container *ngIf="selectedState == 'Répartition' && chartData">
          <div class="charts-row">
            <div class="chart-col">
              <p-card class="card-card">
              <app-chart
              [chartData]="distributionChartData"
              [chartOptions]="chartOptions"
              [chartHeight]="'100%'"
              [chartWidth]="'100%'"
            >
            </app-chart>
            </p-card>
            </div>
            <div class="chart-col">
              <div class="chart-chart">
                <p-card >
                  <p-chart type="bar" [data]="chartData" class="h-[30rem]"></p-chart>
                </p-card>
              </div>
             
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedState == 'Répartition'">
          <p-card>
            <app-map
              [countries]="repGeographique"
              [mapHeight]="'720px'"
            ></app-map>
          </p-card>
        </ng-container>
       

        <div>
          <p-table
            *ngIf="
              groupedInvestments &&
              groupedInvestments.length > 0 &&
              selectedState !== 'Répartition'
            "
            [value]="groupedInvestments"
            dataKey="id"
            [expandedRowKeys]="expandedRows"
            (onRowExpand)="onRowExpand($event)"
            (onRowCollapse)="onRowCollapse($event)"
          >
            <ng-template #caption>
              <div class="flex flex-wrap justify-end gap-1">
                <p-button
                  label="Étendre tout"
                  icon="pi pi-plus"
                  text
                  (onClick)="expandAll()"
                />
                <p-button
                  label="Réduire tout"
                  icon="pi pi-minus"
                  text
                  (onClick)="collapseAll()"
                />
              </div>
            </ng-template>
            <ng-template #header>
              <tr>
                <th style="width: 5rem"></th>
                <th pSortableColumn="name">Nom <p-sortIcon field="name" /></th>
                <th pSortableColumn="year">
                  Nombre d'années <p-sortIcon field="year" />
                </th>
                <th pSortableColumn="price">
                  Montant total <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="category">
                  Nombre de parts <p-sortIcon field="category" />
                </th>
                <th pSortableColumn="inventoryStatus">
                  Status <p-sortIcon field="inventoryStatus" />
                </th>
              </tr>
            </ng-template>

            <ng-template #body let-investissement let-expanded="expanded">
              <tr>
                <td>
                  <button
                    (click)="toggleRow(investissement)"
                    class="toggle-btn"
                  >
                    <i
                      [ngClass]="
                        expandedRows[investissement.id]
                          ? 'pi pi-chevron-down'
                          : 'pi pi-chevron-right'
                      "
                    ></i>
                  </button>
                </td>
                <td>
                  <div style="display: flex; align-items: center; gap: 0.7rem">
                    <img
                      [src]="getInvestmentImage(investissement)"
                      [alt]="investissement.scpiName"
                      width="45"
                      height="45"
                      style="border-radius: 4px; object-fit: cover"
                    />
                    <span>{{ investissement.scpiName }}</span>
                  </div>
                </td>
                <td>
                  {{
                    investissement.numberYears === 0
                      ? "-"
                      : investissement.numberYears
                  }}
                </td>
                <td>{{ investissement.totalAmount }} €</td>
                <td>{{ investissement.numberShares }}</td>
                <td>
                  <p-tag
                    [value]="
                      getInvestmentStateTranslate(
                        investissement.investmentState
                      )
                    "
                    [severity]="
                      getInvestmentSeverity(investissement.investmentState)
                    "
                  >
                  </p-tag>
                </td>
              </tr>
            </ng-template>

            <ng-template #expandedrow let-investissement>
              <tr>
                <td colspan="7">
                  <div class="p-4">
                    <h5>Détails de {{ investissement.scpiName }}</h5>
                    <p-table
                      [value]="getFilteredInvestments(investissement.scpiName)"
                      dataKey="id"
                    >
                      <ng-template #header>
                        <tr>
                          <th pSortableColumn="id">
                            Type <p-sortIcon field="id" />
                          </th>
                          <th pSortableColumn="montant">
                            Montant <p-sortIcon field="montant" />
                          </th>
                          <th pSortableColumn="nbr">
                            Nombre de parts <p-sortIcon field="nbr" />
                          </th>
                          <th pSortableColumn="nbr">
                            Durée de détention <p-sortIcon field="nbr" />
                          </th>
                          <th pSortableColumn="status">
                            Status <p-sortIcon field="status" />
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template #body let-invest>
                        <tr>
                          <td>
                            {{
                              getInvestmentTypeTranslate(invest.typeProperty)
                            }}
                          </td>
                          <td>{{ invest.totalAmount }} €</td>
                          <td>{{ invest.numberShares }}</td>
                          <td>
                            <span> {{ invest.detentionYears }} an(s)</span>
                          </td>
                          <td>
                            <p-tag
                              [value]="
                                getInvestmentStateTranslate(
                                  investissement.investmentState
                                )
                              "
                              [severity]="
                                getInvestmentSeverity(
                                  investissement.investmentState
                                )
                              "
                            >
                            </p-tag>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div
          *ngIf="noResults && selectedState !== 'Répartition'"
          class="empty-card-container"
        >
          <p-card class="empty-card">
            <ng-template pTemplate="content">
              <div class="text-center">
                <i
                  class="pi pi-info-circle"
                  style="font-size: 2rem; color: #6c757d"
                ></i>
                <h3>Aucun investissement</h3>
                <p>
                  Il n'y a pas encore d'investissements pour l'état :
                  <strong>{{ selectedState | titlecase }}</strong
                  >.
                </p>
              </div>
            </ng-template>
          </p-card>
        </div>
      </p-tabView>
    </div>
    <div *ngIf="selectedState !== 'Répartition'">
      <p-paginator
        [first]="0"
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div>
  </div>
</div>
