.tab-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-right: 55px;
  padding-left: 55px;
}

.tabview-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.toggle-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 5px;
}

.charts-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.chart-col {
  flex: 1;
  margin: 0 1rem;
}

.chart-chart p-chart{
  height: 200px !important;
}
