<div class="dashboard-container">
  <!-- Left Side: Overview -->
  <p-panel class="overview-container">
    <ng-template #header>
      <div class="panel-header">
        <h2 class="title">Vue d'ensemble</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="overview-card">
        <div class="select-button">
          <p-selectbutton
            [(ngModel)]="yearValue"
            [options]="yearOptions"
            optionLabel="label"
            optionValue="value"
            size="large"
            [allowEmpty]="false"
          ></p-selectbutton>
        </div>

        <div class="stats-container">
          <div class="stats-card revenue-card">
            <div class="stats-icon">
              <i class="pi pi-chart-line"></i>
            </div>
            <div class="stats-content">
              <h3 class="stats-title">Revenus estimés</h3>
              <p class="stats-value text-green">{{ estimatedRevenueByYear[yearValue] | number:'1.0-0' }} €</p>
            </div>
          </div>

          <div class="stats-card investment-card">
            <div class="stats-icon">
              <i class="pi pi-wallet"></i>
            </div>
            <div class="stats-content">
              <h3 class="stats-title">Total investi</h3>
              <p class="stats-value text-blue">{{ investedByYear[yearValue] | number:'1.0-0' }} €</p>
            </div>
          </div>

        </div>

        <div class="growth-rate-container">
          <label for="growthRate" class="input-label">
            <i class="pi pi-percentage"></i>
            <span>Revalorisation (%)</span>
          </label>
          <p-inputnumber
            [(ngModel)]="customGrowthRate"
            inputId="growthRate"
            mode="decimal"
            [maxFractionDigits]="2"
            [min]="-10"
            [max]="10"
            (onInput)="updateChart()"
          ></p-inputnumber>
          <small class="form-text">
            <i class="pi pi-info-circle"></i>
            <span>La valeur doit être comprise entre -10% et +10%.</span>
          </small>
        </div>

        <div class="chart-container">
          <app-chart [data]="chartData"></app-chart>
        </div>
      </div>
    </ng-template>
  </p-panel>

  <!-- Right Side: Investment Configuration -->
  <app-select-scpi
    (onClick)="updateSelectedScpi($event.scpi)"
    (valuesChanged)="updateInvestmentState($event)"
    (onInvest)="createInvestment()"
  ></app-select-scpi>
</div>
