<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button
          id="minimizeSidebar"
          (click)="toggleSidebar()"
          class="btn btn-facebook btn-fill btn-round btn-icon d-none d-lg-block"
        >
          <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
          <i class="fa fa-navicon visible-on-sidebar-mini"></i>
        </button>
      </div>
    </div>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      aria-controls="navigation-index"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <ul class="navbar-nav">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <img [src]="selectedFlag" alt="Flag" />
              <span class="nc-icon">{{ selectedLang }}</span>
            </a>

            <ul class="dropdown-menu">
              <li *ngFor="let language of lang">
                <a
                  class="dropdown-item"
                  (click)="switchLanguage(language.code)"
                >
                  <img
                    [src]="language.flag"
                    alt="Flag"
                    style="height: 10px; width: auto"
                  />
                  {{ language.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <li class="dropdown nav-item">
          <a href="#" data-toggle="dropdown">
            <div class="profile">
              <div class="photo">
                <img src="img/bg4.jpg" alt="Profile Picture" />
              </div>
              <div class="username-text">
                <p style="color: black">{{ username }}</p>
              </div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="'/profile'">
              <span class="sidebar-normal">Mon Profil</span>
            </a>
            <a class="dropdown-item" href="#"
            ><span class="sidebar-normal">Modifier mon Profil</span></a
            >
            <button (click)="logout()" class="dropdown-item text-danger">
              <i class="nc-icon nc-button-power"></i> Se Déconnecter
            </button>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
