<div class="simulation-list">
  <h3 class="title">Vos simulations</h3>
  <!-- <div class="simulation-item">
    <div>
      <span class="simulation-title">Simulation 1</span>
      <span class="simulation-date">- 24/02/2025</span>
    </div>
    <div class="simulation-details">
      <span class="amount">0 €</span>
      <span class="percentage">0,00 %</span>
      <span class="scpi-label">SCPI</span>
    </div>
    <button class="details-button">Voir le détail →</button>
    <i class="pi pi-trash delete-icon"></i>
  </div> -->
  <div class="no-simulation-message">
    <strong>Aucune simulation disponible</strong>
    Vous n’avez pas encore créé de simulation.<br>

  </div>

</div>
