<p-card class="scpi-card">
  <ng-template pTemplate="title">
    <span>SCPI sélectionnées</span>
  </ng-template>

  <ng-template pTemplate="content">
    @if (simulation?.scpiSimulations?.length) {
      @for (simulation of simulation?.scpiSimulations; track simulation.simulationId) {
        <div class="row">
          <p class="name">
            {{ simulation.scpiName }}
          </p>
          <p class="amount">
            {{ simulation.rising | number:'1.2-2' }} €
          </p>
        </div>

      }
      <div class="row">
        <p class="name">
          Montant total :
        </p>
        <p class="amount">
          {{ simulation?.totalInvestment ?? 0 | number:'1.2-2' }} €
        </p>
      </div>
    } @else {
      <p>Aucune transaction dans cette simulation</p>
    }
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Ajouter une SCPI"
      icon="pi pi-plus"
      severity="info"
      class="add-scpi-button"
      (click)="isAddScpiDialogVisible = true"
    >
    </button>
  </ng-template>
</p-card>


<app-add-scpi-dialog
  [isDialogVisible]="isAddScpiDialogVisible"
  (closeDialog)="isAddScpiDialogVisible = false"
  [simulationId]="simulationId"
></app-add-scpi-dialog>
