.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-green-500 {
  color: #22c55e !important; /* Tailwind green-500 */
}
.text-yellow-500 {
  color: #eab308 !important;
}
.text-red-500 {
  color: #ef4444 !important;
}
.mashed-score {
  font-weight: bold;
  color: #0a9396;
  margin-left: 8px;
}
.card {
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
}

.card-image {
  width: 100%;
  object-fit: cover;
  height: 6rem;
}

.info-container {
  display: grid;
  gap: 1rem;
  & > .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    & > * {
      white-space: nowrap;
    }
  }
}
.button-group {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

app-scpi-invest-modal {
  display: block;
  position: absolute;
  z-index: 1000;
}
