<div class="card-container">
  <p-card class="card">
    <ng-template #header>
      <img [src]="image" alt="Card" class="card-image" />
    </ng-template>

    <ng-template #title>{{ scpi?.name ?? "N/A" }}</ng-template>
    <div class="info-container">
      <div class="info">
        <p-tag [value]="location" severity="secondary"></p-tag>
        <p-tag [value]="sector" severity="secondary"></p-tag>
      </div>
      <div class="info">
        <p-tag [value]="distributionRate" severity="secondary"></p-tag>
        <p-tag [value]="minimumSubscription" severity="secondary"></p-tag>
      </div>
    </div>
    <p-divider />

    <ng-template #footer>
      <div class="button-group">
        <p-button
          (click)="openInvestirModal('simuler')"
          *ngIf="isAddingScpi"
          label="Ajouter"
          severity="info"
          size="large"
        />
        <p-button
          (click)="openInvestirModal('investir')"
          *ngIf="!isAddingScpi"
          label="Investir"
          severity="info"
          size="large"
        />
        <p-button
          [outlined]="true"
          [routerLink]="['/details', scpi?.scpiId]"
          label="Détails"
          severity="secondary"
          size="large"
        />
      </div>
    </ng-template>
  </p-card>
</div>



