<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '42rem' }" modal [closable]="true" header="Voulez-vous renommer la simulation avant de l'enregistrer ?" (onHide)="onDialogHide()">
  <div class="dialog-content">
    <input id="simulationName" type="text" pInputText [(ngModel)]="newSimulationName" />
  </div>
  <ng-template pTemplate="footer" class="dialog-footer">
    <button  class="edit-button" (click)="closeDialog.emit()">Annuler</button>
    <button icon="pi pi-check" class="validate-button" (click)="saveSimulationName()">Enregistrer</button>
  </ng-template>
</p-dialog>
