<div class="simulation-creator">
  <p-card class="simulation-card">
    <ng-template pTemplate="title">
      <div class="header_container">
        <div class="simulation-header">
          <span class="title">{{ simulationName }}</span>

        </div>
        <button class="share-button">
          <i class="pi pi-share-alt"></i> Partager
        </button>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <p class="subtitle">Vue générale</p>
      <p class="description">
        Ajoutez une SCPI afin de visualiser votre simulation de portefeuille. Si
        vous possédez déjà un portefeuille, vous pouvez ajouter celui-ci en
        cliquant sur le bouton « Voir avec mon portefeuille ».
      </p>
    </ng-template>
  </p-card>

  <app-add-scpi-to-simulation [simulationId]= 'simulationId' ></app-add-scpi-to-simulation>

</div>
