<div class="search-filter-container">
  <app-search-bar (searchTermChanged)="onSearchTermChanged($event)" style="flex-grow: 1;"></app-search-bar>
  <div class="filter-button-container">
    <button pButton icon="pi pi-sliders" label="Filtrer"
            (click)="isFilterVisible = true"
            class="filter-button">
    </button>
  </div>
</div>

<p-sidebar [(visible)]="isFilterVisible" position="right"
           [style]="{ width: '1000px' }" [dismissible]="true">
    <div (click)="stopPropagation($event)">
        <h3>Filtrer les SCPI</h3>

        <div class="filter-section">
            <label>Taux de distribution minimum</label>
            <p-slider [(ngModel)]="filters.distributionRate" [min]="0" [max]="100" [step]="1"></p-slider>
            <span>{{ filters.distributionRate }}%</span>
        </div>

        <div class="filter-section">
            <label>Zone d’investissement</label>
            <p-multiSelect [options]="investmentZones" [(ngModel)]="filters.locations" optionLabel="label"></p-multiSelect>
        </div>

        <div class="filter-section">
            <label>Secteurs d'investissement</label>
            <p-multiSelect [options]="investmentSectors" [(ngModel)]="filters.sectors" optionLabel="label"></p-multiSelect>
        </div>
        <div class="filter-section">
            <label>Frais de souscription</label>
            <p-selectButton [options]="subscriptionFeesOptions" [(ngModel)]="filters.subscriptionFees"></p-selectButton>
        </div>
        <div class="filter-section">
            <label>Fréquence des loyers</label>
            <p-selectButton [options]="rentalFrequencyOptions" [(ngModel)]="filters.rentalFrequency"></p-selectButton>

        </div>
        <div class="filter-section">
            <label>Montant minimum d’investissement </label>
            <p-slider [(ngModel)]="filters.minimumSubscription" [min]="0" [max]="10000" [step]="100"></p-slider>
            <span>{{ filters.minimumSubscription }} €</span>
        </div>
        <div class="button-container">
            <button pButton label="Voir les SCPI" icon="pi pi-arrow-right"
                    [disabled]="isSearchDisabled()"
                    (click)="applyFilters()" class="validate-button">
            </button>
            <button pButton label="Réinitialiser" icon="pi pi-refresh"
                    (click)="resetFilters()" class="reset-button">
            </button>
        </div>
    </div>
</p-sidebar>

