.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
  margin: 1rem;
  gap: 30px;
}

.custom-card {
  flex: 0 0 calc(25% - 30px);
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
}

.custom-card:hover {
  color: red;
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.card-value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #215acc;
  margin: 1rem 0;
}

.card-value:hover {
  color: #2bbd57;
}

.card-subtitle {
  font-size: 1rem;
  color: #777;
}

.card-subtitle:hover {
  color: black;
}
