.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
  margin: 1rem;
  gap: 30px;
  padding-bottom: 1rem;
}


::ng-deep .custom-card .p-card {
  width: 22rem;
  min-width: 22rem;
  overflow: hidden;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
  transition: width 0.3s ease;
}


.custom-card {
  position: relative;
  overflow: hidden;
    box-shadow: 0 5px 15px rgba(12, 27, 51, 0.15);

  
}

.custom-card .accent-bar {
  width: 6px;
  height: 100%;
  background: linear-gradient(180deg, var(--primary-blue) 0%, var(--highlight-blue) 50%, var(--highlight-green) 100%);
  position: absolute;
  top: 0;
  left: 0;
    border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.card-value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #215acc;
  margin: 1rem 0;
}

.card-value:hover {
  color: var(--highlight-green);
}

.card-subtitle {
  font-size: 1rem;
  color: #777;
}

.card-subtitle:hover {
  color: black;
}

@media screen and (max-width: 1600px) {
  ::ng-deep .custom-card .p-card {
    width: 16rem;
    min-width: 16rem;
    height: 15em;
  }

  .card-title {
    font-size: 1.2rem;
  }
  .card-subtitle {
    font-size: 1rem;
    color: #777;
  }

  .custom-card-value {
    margin-top: -9px;
  }


}

