.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.custom-card {
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #eaeaea;
}

.custom-card:active {
  background-color: #dcdcdc;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.card-value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3b5998;
  margin: 1rem 0;
}

.card-subtitle {
  font-size: 1rem;
  color: #777;
}
