<div class="card-container">
  <p-card [style]="{ width: '25rem', overflow: 'hidden' }" styleClass="custom-card">
    <ng-template pTemplate="title">
      <div class="card-title">{{ title }}</div>
    </ng-template>
    <ng-template pTemplate="value"> 
      <div class="card-value">
        {{ title === 'Total Investi' ? (totalInvested) + ' €' : 
        title === 'Rendement Moyen' ? rendementMoyen + ' %' :
        title === 'Revenu Mensuel' ? revenuMensuel + ' €' :
        title === 'Cashback' ? cashback + ' %': value  }} </div>
    </ng-template>
    <ng-template pTemplate="subtitle">
        <div class="card-subtitle">{{ subtitle }}</div>
      </ng-template>
  </p-card>
</div>
