<div class="row center pt-5" *ngIf="details">
    <div class="p-col-3 center">
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details.subscription_fees}} %</label>
            
                <label class="small-label pt-1">Frais souscription</label>
            </ng-template>
        </p-card>
        
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-3">{{details.share_price}} €</label>
           
                <label class="small-label">Prix d'achat</label>
            </ng-template>
        </p-card>

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details.enjoyment_delay}} mois</label>
           
                <label class="small-label">Délai de jouissance</label>
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-3">
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details.management_costs}} %</label>
            
                <label class="small-label">Frais de gestion</label>
            </ng-template>
        </p-card>

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details.share_price - (details.share_price * (1 - details.subscription_fees)) }} €</label>
            
                <label class="small-label">Prix de retrait</label>
            </ng-template>
        </p-card>

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details.frequency_payment}}</label>
           
                <label class="small-label">Fréquence des loyers</label>
            </ng-template>
        </p-card>
    </div>
</div>
