.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 1cm;
}

.card-container {
    
    padding: 20px;
    gap: 1cm;
}

.p-grid {
    display: flex;
    justify-content: center;
    gap: 1cm;

}

.p-col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10cm;
}

.square {
    border: 0px solid #ffffff;
    padding: 20px;
    text-align: center;
    width: 10cm;
   
}

.large-label {
    font-size: 25px;
    font-weight: bold;
    gap: 1cm;
}


.small-label {
    font-size: 20px;
    font-weight: bold;
    gap: 1cm;
    margin: 5px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 1px; /* Espace entre les boutons */
    margin-top: 1px;
    width: 100%;
}

p-button {
    flex: 1; /* Permet aux boutons d'avoir une taille uniforme */
    width: 5cm; /* Ajuste la largeur max des boutons */
    
}
