<div class="row center pt-5" >
    <div class="p-col-3 center">
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2"></label>
           
                <label class="small-label">Prix par part</label>
            </ng-template>
        </p-card>
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2"></label>
            
                <label class="small-label">Min. 1ère souscription</label>
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-3">
        

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2"></label>
            
                <label class="small-label">Gérant</label>
            </ng-template>
        </p-card>

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2"></label>
           
                <label class="small-label">Capitalisation</label>
            </ng-template>
        </p-card>
    </div>
</div>
