<div class="row center pt-5">
    <div class="p-col-3">
        <div class="card flex justify-center">
            <p-chart type="pie" [data]="data" [options]="options" class="w-full md:w-[30rem]" />
        </div>
    </div>
    
</div>
<div class="row center pt-5" >
    
    <div class="p-col-3 center">
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{states?.sharePrice || "N\A"}} €</label>
           
                <label class="small-label">Prix par part</label>
            </ng-template>
        </p-card>
        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details?.manager || "N\A"}}</label>
            
                <label class="small-label">Gérant</label>
            </ng-template>
        </p-card>
    </div>

    <div class="p-col-3">
        

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details?.minimumSubscription || "N\A"}} €</label>
            
                <label class="small-label">Min. 1ère souscription</label>
            </ng-template>
        </p-card>

        <p-card>
            <ng-template pTemplate="header center">
                <label class="large-label pt-2">{{details?.capitalization || "N\A"}} €</label>
           
                <label class="small-label">Capitalisation</label>
            </ng-template>
        </p-card>
    </div>
</div>
