<div *ngIf="totalInvesti > 0; else portefeuilleEmpty">
  <app-statistics [statistics]="statistics"></app-statistics>
  <app-investments
    [investments]="investments"
    [groupedInvestments]="groupedInvestments"
    [totalInvesti]="totalInvesti"
    [totalRecords]="totalRecords"
    [pageSize]="params.pageSize"
    (paramsChanged)="handleParamsChange($event)"
    [noResults]="noResults"
    [repGeographique]="repGeographique"
    [repSectoriel]="repSectoriel"
    [distributionHistory]="distributionHistory"
  ></app-investments>
</div>

<ng-template #portefeuilleEmpty>
  <h3 class="note-txt">Votre portefeuille est vide</h3>
  <div class="page-container">
    <div class="card">
      <div>
        <h4 class="card-title">Votre portefeuille est vide</h4>
        <p class="card-body">
          Découvrez notre sélection de SCPI et profitez de 3,00 % de cashback
          sur la plupart d'entre elles.
        </p>
      </div>
      <br />
      <div class="btn-container">
        <p-button
          (click)="startInvesting()"
          label="Commencer à investir"
          icon="pi pi-arrow-right"
          severity="info"
        >
        </p-button>
      </div>
    </div>
  </div>
</ng-template>
