.profile-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: #35359f;
  font-size: 2rem;
  margin-left: 20%;
  margin-bottom: 20px;
}

.profile-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group p-dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group p-dropdown {
  padding: 0;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}


.form-actions button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.error {
  color: #FB404B;;
  font-size: 0.875rem;
  margin-top: 4px;
  font-weight: bold;
}

.error::before {
  content: '⚠️';
  margin-right: 4px; 
}
