.profile-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: #4343a6;
  font-size: 2.2rem;
  font-weight: 600;
  /* padding: 20px; */
  margin-left: 200px;
}

.profile-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group-row {
  display: flex;
  flex-wrap: wrap; /* Permet le passage à la ligne sur les petits écrans */
  gap: 20px; /* Espacement entre les groupes */
  margin-bottom: 20px;
}

.form-group {
  flex: 1 1 calc(50% - 10px); /* Deux champs par ligne avec un espace de 20px */
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group p-dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group p-dropdown {
  padding: 0; /* Ajustement pour PrimeNG Dropdown */
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* Style des boutons PrimeNG */
.form-actions button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.error {
  color: #FB404B;; /* Couleur rouge pour l'erreur */
  font-size: 0.875rem; /* Taille de police plus petite */
  margin-top: 4px; /* Marge au-dessus pour un espacement agréable */
  font-weight: bold; /* Mettre le texte en gras pour le rendre plus visible */
}

.error::before {
  content: '⚠️'; /* Ajout d'un icône avant le texte d'erreur */
  margin-right: 4px; /* Espacement entre l'icône et le texte */
}
