<div>
  <p-toast />
  <div class="profile-container">
  <div class="title_container_profil">
    <h1 class="title">Mon Profil</h1>
  </div>
  <div class="profile-form">
    <form [formGroup]="profileForm">
      <div class="form-group-row">
        <!-- Nom et prénom -->
        <div class="form-group">
          <label for="lastName">Nom</label>
          <input
            id="lastName"
            formControlName="lastName"
            type="text"
            pInputText
            [disabled]="!editable"
          />
          <div *ngIf="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched">
            <small class="error">Champ obligatoire</small>
          </div>
        </div>

        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input
            id="firstName"
            formControlName="firstName"
            type="text"
            pInputText
            [disabled]="!editable"
          />
          <div *ngIf="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched">
            <small class="error">Champ obligatoire</small>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <!-- Email et téléphone -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            pInputText
            [attr.disabled]="true"
            [attr.readonly]="true"
            [disabled]="false"
          />
          <div *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched">
            <small class="error">Champ obligatoire</small>
          </div>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Téléphone</label>
          <input
            id="phoneNumber"
            formControlName="phoneNumber"
            type="text"
            pInputText
            [disabled]="!editable"
          />
          <div *ngIf="profileForm.controls['phoneNumber'].invalid && profileForm.controls['phoneNumber'].touched">
            <small class="error">Numéro de téléphone invalide (ex: 0601020304)</small>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <!-- Date de naissance -->
        <div class="form-group">
          <label for="dateOfBirth">Date de Naissance</label>
          <p-datepicker class="dateInput"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            [showIcon]="true"
            dateFormat="dd.mm.yy"
            class="full-width-input"
            [disabled]="!editable"
          ></p-datepicker>
          <div *ngIf="profileForm.controls['dateOfBirth'].invalid && profileForm.controls['dateOfBirth'].touched">
            <small class="error">La date de naissance est requise.</small>
          </div>
          <div *ngIf="profileForm.get('dateOfBirth')?.hasError('invalidDate') && profileForm.get('dateOfBirth')?.touched">
            <small class="error">La date ne peut pas être dans le futur.</small>
          </div>
        </div>

        <!-- Revenu annuel -->
        <div class="form-group">
          <label for="annualIncome">Revenu Annuel (€)</label>
          <input
            id="annualIncome"
            formControlName="annualIncome"
            type="number"
            pInputText
            [disabled]="!editable"
          />
          <div *ngIf="profileForm.controls['annualIncome'].invalid && profileForm.controls['annualIncome'].touched">
            <small class="error">Le revenu annuel doit être positif.</small>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <!-- Statut marital et enfants -->
        <div class="form-group">
          <label for="maritalStatus">Statut marital</label>
          <p-dropdown
            id="maritalStatus"
            formControlName="maritalStatus"
            [options]="maritalStatuses"
            placeholder="Sélectionnez"
            [disabled]="!editable"
          ></p-dropdown>
          <div *ngIf="profileForm.controls['maritalStatus'].invalid && profileForm.controls['maritalStatus'].touched">
            <small class="error">Le statut marital est obligatoire.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="numberOfChildren">Nombre d'enfants</label>
          <input
            id="numberOfChildren"
            formControlName="numberOfChildren"
            type="number"
            pInputText
            [disabled]="!editable"
          />
          <div *ngIf="profileForm.controls['numberOfChildren'].invalid && profileForm.controls['numberOfChildren'].touched">
            <small class="error">Le nombre d'enfants doit être un entier positif.</small>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button
          pButton
          label="Modifier"
          icon="pi pi-pencil"
          (click)="toggleEdit()"
          type="button"
          severity="secondary"
        ></button>
        <button
          pButton
          label="Valider"
          icon="pi pi-check"
          (click)="submitForm()"
          [disabled]="!profileForm.valid || !editable"
          type="button"
          severity="info"
        ></button>
      </div>
    </form>
  </div>
</div>
</div>
