.sliders-container {
  display: grid;
  gap: 1.5rem;

  .slider-container {
    display: grid;
    gap: 0.6rem;

    .text {
      color: var(--text-muted);
      font-weight: bold;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: var(--highlight-blue);
        font-weight: bold;
        font-size: 1.125rem;
        margin-left: auto;
      }
    }
  }
}

:host ::ng-deep .p-slider-range {
  background: var(--primary-blue);
}

:host ::ng-deep .p-slider-handle {
  border-color: var(--primary-blue);
  background: var(--primary-blue);

  &:hover {
    border-color: var(--primary-blue);
  }

  &:focus {
    border-color: var(--primary-blue);
  }
}




