<div>
  <div>
    {{noResultsMessage}}
    <app-search-multicriteria
      (scpiFiltered)="updateScpiList($event)"
      (noResultsMessageChange)="noResultsMessage = $event"
    ></app-search-multicriteria>
  </div>
  <div class="list-scpi">
    <ng-container *ngIf="filteredScpis.length > 0; else noResults">
      <ng-container *ngFor="let scpi of filteredScpis">
        <app-scpi-card
          (onClick)="openInvestirModal($event)"
          [addScpi]="addScpi"
          [image]="getImage(scpi.id)"
          [isAddingScpi]="isAddingScpi"
          [scpi]="scpi"
        />
      </ng-container>
    </ng-container>
  </div>
  <ng-template #noResults>
    <div *ngFor="let skeleton of skeletonArray">
      <div class="skeleton-wrapper">
        <p-skeleton borderRadius="10px" height="220px" width="100%"></p-skeleton>
      </div>
    </div>
  </ng-template>

</div>
<ng-container *ngIf="selectedScpi">
  <app-scpi-invest-modal
    (close)="closeInvestirModal()"
    [addScpi]="addScpi"
    [mode]="modalMode"
    [scpi]="selectedScpi"
    [visible]="investirModalVisible">
  </app-scpi-invest-modal>
</ng-container>

