<div>
  <div>
    <app-search-multicriteria
      (scpiFiltered)="updateScpiList($event)"
    ></app-search-multicriteria>
  </div>
  <div class="list-scpi">
    <ng-container *ngIf="filteredScpis.length > 0; else noResults">
      <ng-container *ngFor="let scpi of filteredScpis">
        <app-scpi-card
          [scpi]="scpi"
          [image]="getImage(scpi.id)"
          [isAddingScpi]="isAddingScpi"
          [addScpi]="addScpi"
        />
      </ng-container>
    </ng-container>
  </div>
  <ng-template #noResults>
    <div *ngFor="let skeleton of skeletonArray">
      <div class="skeleton-wrapper">
        <p-skeleton height="220px" width="100%" borderRadius="10px"></p-skeleton>
      </div>
    </div>
  </ng-template>
</div>
