<div>
  <p-toast />

<div class="containe_global">
  <div class="container_scpi_header_card">
    <div>
      <div>
        <div class="card-container">
          <p class="name_scpi">{{ details?.name }}</p>
          <div class="p_texte">
            <p class="small-label">Bureau</p>
            <p class="small-label">Europe</p>
          </div>
          <div class="p-grid">
            <!-- Première carte -->
            <div class="p-col-6">
              <div class="square">
                <label class="large-label">{{ stat?.distributionRate ?? "N/A"}} %</label
                ><br />
                <label class="small-label">Rendement</label>
              </div>
            </div>
            <!-- Deuxième carte -->
            <div class="p-col-6">
              <div class="square">
                <label class="large-label"
                  >{{ details?.minimumSubscription ?? "N/A" }} €</label
                ><br />
                <label class="small-label">Minimum</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_nav_scpi">
    <div class="container_scpi_details">
      <p-tabView class="tabview-custom">
        <p-tabPanel header="{{ 'Details.VUE' | translate }}">
          <app-details-global-view
            [id_parent]="id_parent"
          ></app-details-global-view>
        </p-tabPanel>
        <p-tabPanel header="{{ 'Details.HISTORIQUE' | translate }}">
          <app-scpi-history-details
            [id_parent]="id_parent"
          ></app-scpi-history-details>
        </p-tabPanel>
        <p-tabPanel header="{{ 'Details.DETAILS' | translate }}">
          <app-details-detials [id_parent]="id_parent"></app-details-detials>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
</div>
