<p-button [label]="retour|translate" severity="info" (onClick)="backClicked()" />
<div class="row justify-content-center">
    <p-card class="card">
        <div class="p-col-12">
            <p-card [header]="details?.name" class="card-container">
                <label class="small-label">Bureau</label>
                <label class="small-label">Europe</label>
                <hr>
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="square">
                            <label class="large-label">{{stat?.distributionRate }} % </label><br>
                            <label class="small-label">Rendement</label>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="square">
                            <label class="large-label">{{ details?.minimumSubscription || 'N/A' }} €</label><br>
                            <label class="small-label">Minimum</label>
                        </div>
                    </div>
                </div>
            </p-card>
            <hr>
            <div class="button-container">
                <p-button [label]='vue|translate' severity="info" (onClick)="changePage('vue')" />
                <p-button [label]="history|translate" severity="info" (onClick)="changePage('historique')" />
                <p-button [label]="_details|translate" severity="info" (onClick)="changePage('details')" />
            </div>
        </div>
    </p-card>
</div>
<div class="row justify-content-center">
    <div class="col-md-6" *ngIf="actualPage === 'details'">
        <app-details-detials [id_parent]="id_parent"></app-details-detials>
    </div>
    <div class="col-md-6" *ngIf="actualPage === 'vue'">
        <app-details-global-view [id_parent]="id_parent"></app-details-global-view>
    </div>
</div>