<div class="unauthorized-wrapper">
  <p-panel>
    <div class="unauthorized-content">
      <h1 class="unauthorized-title">401</h1>
      <p class="unauthorized-message">
        Cette page est réservée aux <strong>utilisateurs Premium</strong>.
        <br />
        Votre abonnement actuel ne vous permet pas d'y accéder.
        <br />
        Consultez nos offres pour découvrir les fonctionnalités disponibles et mettre à niveau votre plan si nécessaire.
      </p>
      <button
        pButton
        label="Gestion des plans"
        icon="pi pi-sitemap"
        severity="warn"
        routerLink="/plans">
      </button>
    </div>
  </p-panel>
</div>
