<div class="global-view-container">
  <p-card>
    <app-map [countries]="ListeLocations"></app-map>
  </p-card>

  <div class="card">
    <p-chart type="doughnut" [data]="sectorData" [options]="options" />
  </div>

  <p-card>
    <ng-template pTemplate="header center">
      <label class="large-label pt-2">{{ states?.sharePrice || "N\A" }} €</label>
      <label class="small-label">Prix par part</label>
    </ng-template>
  </p-card>

  <p-card>
    <ng-template pTemplate="header center">
      <label class="large-label pt-2">{{ details?.manager || "N\A" }}</label>
      <label class="small-label">Gérant</label>
    </ng-template>
  </p-card>

  <p-card>
    <ng-template pTemplate="header center">
      <label class="large-label pt-2">{{ details?.minimumSubscription || "N\A" }} €</label>
      <label class="small-label">Min. 1ère souscription</label>
    </ng-template>
  </p-card>

  <p-card>
    <ng-template pTemplate="header center">
      <label class="large-label pt-2">{{ formatNumber(details?.capitalization) || "N\A" }} €</label>
      <label class="small-label">Capitalisation</label>
    </ng-template>
  </p-card>
</div>